/* font-family: 'Open Sans', sans-serif; */
/********************************************
            TABLE OF CONTENTS
----------------------------------------
    0. Project details
    1. CSS Reset
    2. Global styles
    3. Elements
        -Typography
        -Colors
        -Spacing
        -Links
        -Buttons
        -Grid System
        -Forms
        -Lists
        -Tables
        -Cards
        -Images
        -Helpers
    4. Components
        -Navigation
        -Icons
        -No Print
        -
    5.  Media queries
 
   
********************************************/

/********************************************
    0. Project details 
--------------------------------------------
    Author: Group 3
    Project: 644 Final Project
    Ver: 1.0
    Last Updated: 5/24/2023
********************************************/

/********************************************
    1. CSS Reset
********************************************/

*,
*::before,
*::after{
    box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ol, 
ul, 
li,
fieldset, 
form, 
label, 
legend,
table, 
tr, 
th, 
td,
dl,
dd,
input,
button,
textarea,
select {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}
/* set up the body */
body {
	line-height: 1.5;
	min-height: 100vh;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/********************************************
    2. Global styles
********************************************/

/********************************************
    3. Elements
********************************************/


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* FONT FAMILY */
html {
    font-family: 'Open Sans', sans-serif;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; }
  h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem; }
  h2 { font-size: 3.5rem; line-height: 1.25; letter-spacing: -.1rem; }
  h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
 
  /* Increase font size for larger screens */
  /* @media (min-width: 550px) {
    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
  }
   */
p { margin-top: 0; padding-bottom: .2rem; }
p.space-p {
    letter-spacing: .2rem;
    line-height: 1.75rem;
}

/* Font style/weight variations */
.fw-light {font-weight: 300;}
.fw-light-it {font-weight: 300; font-style: italic;}
.fw-regular {font-weight: 400;}
.fw-regular-it {font-weight: 400; font-style: italic;}
.fw-medium {font-weight: 500;}
.fw-medium-it {font-weight: 500; font-style: italic;}
.fw-semi-bold  {font-weight: 600;}
.fw-bold  {font-weight: 700;}
.fw-bolder  {font-weight: 800;}

/* Text Alignment */
.t-left { text-align: left !important; }
.t-right { text-align: right !important; }
.t-center { text-align: center !important; }
   
/* Text transformations */
.lower { text-transform: lowercase !important; }
.upper { text-transform: uppercase !important; }
.caps { text-transform: capitalize !important; }


/* Text Elements */
.bold { font-weight: bold; }
.italic { font-style: italic; }
.em {font-style: italic ;}
.cite { font-style: italic; }
.var {  font-style: italic; }
.marked { background-color: #f2ea05; }
/* .small {( 100% * 0.09 );}  */
/* need to fix this calc error later */
.deleted { text-decoration: line-through; }
.inserted { text-decoration: underline; }
.code { font-family: 'Courier New', Courier, monospace;}
.abbr { text-transform: uppercase; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }
  
/* definition list */
dt {
    font-weight: bold;
    text-decoration: underline;
}
dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.m0 { margin: 0; }
.m1 { margin: .25rem; }
.m2 { margin: .5rem; }
.m3 { margin: 1.0rem; }
.m4 { margin: 1.5rem; }
.m5 { margin: 2.0rem; }
.m-auto { margin:auto; }

.p0 { padding: 0; }
.p1 { padding: .25rem; }
.p2 { padding: .5rem; }
.p3 { padding: 1.0rem; }
.p4 { padding: 1.5rem; }
.p5 { padding: 2.0rem; }

/* Shadows

–––––––––––––––––––––––––––––––––––––––––––––––––– */
.shadows-sm { box-shadow: 0 1px 3px 0, rgba(0, 0, 0, 0.1), 0 1px 2px 0, rgba(0, 0, 0, 0.6);}
.shadows-md { box-shadow: 0 4px 6px -1px, rgba(0, 0, 0, 0.1),0 2px 4px -1px, rgba(0, 0, 0, 0.6);}
.shadows-lg { box-shadow: 0 10px 15px -3px, rgba(0, 0, 0, 0.1),0 4px 6px -2px, rgba(0, 0, 0, 0.5);}


/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Dark and light */

.dark               { color: #050500;}
.bg-dark            { background-color: #050500;}
.bc-dark            { border: 2px solid #050500;}
.light              { color: #fcfcfa;}
.bg-light           { background-color: #fcfcfa;}
.bc-light           { border: 2px solid #fcfcfa;}
.grey               { color: #858583;}
.bg-grey            { background-color: #858583;}
.bc-grey            { border: 2px solid #858583;}

/* Hazard colors */

.warning            { color: #f20505;}
.bg-warning         { background-color: #f20505;}
.bc-warning         { border: 2px solid #f20505;}
.hazard             { color: #f2ea05;}
.bg-hazard          { background-color: #f2ea05;}
.bc-hazard          { border: 2px solid #f2ea05;}

/* Primary color palet */

.blue               { color: #063970;}
.bg-blue            { background-color: #063970;}
.bc-blue            { border: 2px solid #063970;}
.green              { color: #0a6118;}
.bg-green           { background-color: #0a6118;}
.bc-green           { border: 2px solid #0a6118;}
.red                { color: #610a11;}
.bg-red             { background-color: #610a11;}
.bc-red             { border: 2px solid #610a11;}
.purple             { color: #4a0a61;}
.bg-purple          { background-color: #4a0a61;}
.bc-purple          { border: 2px solid #4a0a61;}
.orange             { color: #73240b;}
.bg-orange          { background-color: #73240b;}
.bc-orange          { border: 2px solid #73240b;}
.yellow             { color: #a39e10;}
.bg-yellow          { background-color: #a39e10;}
.bc-yellow          { border: 2px solid #a39e10;}
.pink               { color: #a12596;}
.bg-pink            { background-color: #a12596;}
.bc-pink            { border: 2px solid #a12596;}

/* Pastel color palet */

.p-blue             { color: #9bf6ff;}
.bg-p-blue          { background-color: #9bf6ff;}
.bc-p-blue          { border: 2px solid #9bf6ff;}
.p-green            { color: #caffbf;}
.bg-p-green         { background-color: #caffbf;}
.bc-p-green         { border: 2px solid #caffbf;}
.p-red              { color: #ffadad;}
.bg-p-red           { background-color: #ffadad;}
.bc-p-red           { border: 2px solid #ffadad;}
.p-purple           { color: #bdb2ff;}
.bg-p-purple        { background-color: #bdb2ff;}
.bc-p-purple        { border: 2px solid #bdb2ff;}
.p-orange           { color: #ffd6a5;}
.bg-p-orange        { background-color: #ffd6a5;}
.bc-p-orange        { border: 2px solid #ffd6a5;}
.p-yellow           { color: #fdffb6;}
.bg-p-yellow        { background-color: #fdffb6;}
.bc-p-yellow        { border: 2px solid #fdffb6;}
.p-pink             { color: #ffc6ff;}
.bg-p-pink          { background-color: #ffc6ff;}
.bc-p-pink          { border: 2px solid #ffc6ff;}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Grid System
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.room {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.25rem;
}
.full-room {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
}
.row {
    display: flex;
    flex-direction: column;
}
.column-one, 
.column-two,
.column-three,
.column-four,
.column-five,
.column-six,
.column-seven,
.column-eight,
.column-nine,
.column-ten,
.column-eleven,
.column-twelve {
    width: 100%;
}
/* For devices larger than 400px */
@media (min-width: 400px) {
    .room {
      width: 90%;
    }
}
/* For devices larger than 550px */
.column-one, 
.column-two,
.column-three,
.column-four,
.column-five,
.column-six,
.column-seven,
.column-eight,
.column-nine,
.column-ten,
.column-eleven,
.column-twelve {
    margin-left: 3%;
}
.column-one:first-child, 
.column-two:first-child,
.column-three:first-child,
.column-four:first-child,
.column-five:first-child,
.column-six:first-child,
.column-seven:first-child,
.column-eight:first-child,
.column-nine:first-child,
.column-ten:first-child,
.column-eleven:first-child,
.column-twelve:first-child {
    margin-left: 0;
}
@media (min-width: 550px) {
    .room {
      width: 85%; 
    }
    .row {
        flex-direction: row;
    }
    .column-one             {flex: 1} 
    .column-two             {flex: 2} 
    .column-three           {flex: 3} 
    .column-four            {flex: 4} 
    .column-five            {flex: 5} 
    .column-six             {flex: 6} 
    .column-seven           {flex: 7} 
    .column-eight           {flex: 8} 
    .column-nine            {flex: 9} 
    .column-ten             {flex: 10} 
    .column-eleven          {flex: 11} 
    .column-twelve          {flex: 100%; margin-left: 0;} 
}    
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.table {       
    background-color: transparent;
    border-collapse: collapse;      
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}
.table thead th {           
    border-bottom: solid #bbb;
    font-weight: bold;
    vertical-align: bottom;
}
.table th { font-weight: bold; }
.table th,
.table td {  
    border-top:  solid 1px #bbb;
    padding: 1rem;
    vertical-align: top;
}
.table tbody { border-top: solid 1px #bbb; }
.table caption {
    color: #222;
    padding: 1rem;
}
/* Dark Table Elements */
.tableDark {
    color: #fff;
    background-color: #222;
}
.tableDark caption {
    color: #fff;
    background-color: #222;
    padding: 1rem;
}
/* Table HTML Color Schemes */
.tableTags { color: #4f5fcf; }
.tableAttribute { color: #2f9f47; }
.tableQuotes { color: #d4a349; }

/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Helpers
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/********************************************
    4. Components
********************************************/

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .3s ease;
    width: 100%;
    z-index: 999;
}

.navbar.sticky {
    opacity: .95;
}

.navbar-container {
    align-items: center;
    display: flex;
    height: calc(4.5rem + 1rem);
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
}

.navbar.sticky .navbar-container {
    height: calc(3rem + 1rem);
}

.navbar-logo a.navbar-item {
    display: inline-block;
    color: #fefefe;
    margin: 0;
    font-size: 2.4rem;
}

.navbar-menu-container {
    align-items: center;
    background: #323437;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: .3s ease;
    visibility: hidden;
    width: 100%;
}

.navbar-menu-container.active {
    opacity: 1;
    visibility: visible;
}

.navbar-menu {
    align-items: center;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 5rem 1rem;
    position: relative;
    transform: translateY(-50px);
    transition: .3s ease;
    width: 90%;
}

.navbar-menu-container.active .navbar-menu {
    transform: translateY(0);
}

a.navbar-item {
    text-align: center; 
}

a.navbar-item.active {
    background-color: #CBD5E0;
    width: 100%;
    border-radius: 5px;
}

.navbar-menu a.navbar-item {
    color: #333;
    font-size: 2.4rem;
    font-weight: 500; 
    padding: 1rem;
}

.navbar-menu .navbar-item:not(:last-of-type) {
    margin-bottom: .8rem;
}

.navbar-menu .navbar-item:hover {
    background: #CBD5E0;
    border-radius: 5px;
    font-weight: 550;
    width: 100%;
    transition: .1s ease-in-out;
}


.navbar-toggle .menu-toggle-icon {
    cursor: pointer;
    display: block;
    color: #fefefe;;
    font-size: 2rem;
}

.navbar-close .close-icon {
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.9rem;
    margin: 10px;
}

.navbar-close .close-icon:hover {
    font-size: 3.2rem;
    transition: .1s ease;
}

/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon-section {
    max-width: 900px;
    color: #333;
}

.icon-section p {
    font-size: 1.1rem;
    margin-top: 10px;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 1.25rem;
    margin-top: 1.75em;
}

.icon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #333;
    border-radius: 5px;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    padding: 1rem 0;
    gap: 3px;
    background-color: #CBD5E0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.sm-icon { font-size: 1rem; }
.md-icon { font-size: 2rem; }
.lg-icon { font-size: 3rem; }

.icon-list:hover {
    font-size: 1.1rem;
    background-color: #EDF2F7;
    transition: .2s ease;
}

/* No Print
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/********************************************
    5. Components
********************************************/

/* Mobile */
@media (min-width: 400px) {}

/* Our Grid System is activated */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    .navbar-container {
        max-width: 1250px;
        height: calc(6rem + 1rem);
        padding: 40px 50px;
    }

    .navbar.sticky .navbar-container {
        height: calc(5rem + 1rem);
    }

    .navbar-menu-container {
        width: fit-content;
        height: fit-content;
        position: relative;
        top: 0;
        visibility: visible;
        opacity: 1;
        background: transparent;
    }

    .navbar-menu {
        background: transparent;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        transform: translateY(0);
        width: auto;
    }

    .navbar-close, .navbar-toggle { display: none; }

    .navbar-menu .navbar-item:not(:last-of-type) {margin-bottom: 0;}

    .navbar-menu a.navbar-item {
        color: #fefefe;;
        font-size: 2.5em;
        margin-left: 4rem;
        padding: .5rem .8rem;
    }

    .navbar-menu .navbar-item:hover {
        color: #4A5568;
        font-weight: normal;
    }

    a.navbar-item.active {
        color: #4A5568;;
    }

    .navbar-logo a.navbar-item {
        font-size: 2.8rem;
    }
}


/* Desktop */
@media (min-width: 1000px) {}

/* Very Large Devices */
@media (min-width: 1200px) {}
