/*Download button*/
#buttonDownload {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}
button.buttonDownload {
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0, rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0, rgba(0, 0, 0, 0.6); 
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0, rgba(0, 0, 0, 0.6);
    font-size: 2rem;
    font-weight: 530;
    padding: 1rem;
    text-align: center;
}
button.buttonDownload:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transform: translateY(-3px);
    transition: all .3s ease;
}
button.buttonDownload:active {
    opacity: .75;
    transform: translateY(3px);
    transition: all .3s ease;
} 
h2#info, h2#elements, h2#components, h2#demos { scroll-margin-top: 6.5rem; }